.drag-overlay-status-page {
  background-color: color-mix(in srgb, var(--accent-bg-color), transparent);
  color: var(--accent-fg-color);
  padding: 32px;
}

.blurred {
  filter: blur(6px);
}

.midi-density-view {
  background: transparent;
}

.page-turn-view {
  background: transparent;
}

.toolbar-controls {
  background: none;
  border: none;
  box-shadow: none;
  padding: 6px 9px;
}
